body {
    margin: 40px auto;
    width: 80%;
    color: black;
    font-family:  Verdana, Arial, helvetica, sans-serif;
    line-height: 1.4em;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav {
  background-color: #d7e6ff;
}

a {
    text-decoration: none;
    color: #0000ff;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    line-height: 1em;
}

p {
    # font-size: 1em;
    # line-height: 1em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts li {
    list-style: none;
}

.centcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#screenshottable {
    border-spacing: 0.5em;
}
