<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>

    <a href="/"><img src="/media/logo2.png" alt="Veusz"></a>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/features">Features</a></li>
	<li><a href="/examples">Examples</a></li>
	<li><a href="/screenshots">Screenshots</a></li>
	<li><a href="/download">Download</a></li>
        <li><a href="/help-support">Help&nbsp;&amp;&nbsp;Support</a></li>
        <li><a href="/development">Development</a></li>
	<li><a href="/news">News</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="https://github.com/veusz">github.com/veusz</a></li>
        <li><a href="/news/atom.xml">news feed</a></li>
        <li><a href="http://jeremysanders.net/">author</a></li>
      </ul>
    </footer>
  </body>
</html>
